// Esse arquivo não tem utilidade
// As cores estão no patrulhas.json
// Aqui é apenas para facilitar a visualização e escolha das cores
cores {
    tds {
        color: #006666;
    }
    titano {
        color: #841F27;
    }
    tirano {
        color: #006699;
    }
    triceraptor: {
        color: #CC9900;
    }
}